<ion-header>
  <ion-toolbar>
    <ion-title>Finalização de Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="chamarPagamento()">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <h2>Informe o endereço de entrega</h2>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-rounded">
            <ion-label position="floating">Endereço</ion-label>
            <ion-input type="text" formControlName="endereco"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="form.get('endereco').invalid && form.get('endereco').touched">
            Endereço é obrigatório.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-rounded">
            <ion-label position="floating">Número</ion-label>
            <ion-input type="text" formControlName="numero"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="form.get('numero').invalid && form.get('numero').touched">
            Número é obrigatório.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-rounded">
            <ion-label position="floating">Complemento</ion-label>
            <ion-input type="text" formControlName="complemento"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-rounded">
            <ion-label position="floating">CEP</ion-label>
            <ion-input type="text" formControlName="cep"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="form.get('cep').invalid && form.get('cep').touched">
            CEP é obrigatório.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-rounded">
            <ion-label position="floating">Bairro</ion-label>
            <ion-input type="text" formControlName="bairro"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="form.get('bairro').invalid && form.get('bairro').touched">
            Bairro é obrigatório.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item class="ion-rounded">
            <ion-label position="floating">Cidade</ion-label>
            <ion-input type="text" formControlName="cidade"></ion-input>
          </ion-item>
          <ion-text color="danger" *ngIf="form.get('cidade').invalid && form.get('cidade').touched">
            Cidade é obrigatória.
          </ion-text>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-button expand="block" color="danger" type="submit" [disabled]="form.invalid">Pagamento</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
