<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img class="imagem-produto" alt="produto 1" src="../../assets/images/produtos/produto 1.jpeg" />
    <ion-card-header>
      <ion-card-title class="nome-produto">Pão de Queijo tradicional 75g</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Sem glúten - Pacote de 1kg <br>
      <b>R$5.00</b>
    </ion-card-content>

    <div class="counter-section">
      <img class="botao-menos"
      src="../../assets/images/icones/vetor-menos.svg"
      (click)="decrement(1)"
    />
      <p id="quantidade">{{getQuantidadeProduto(1)}}</p>
      <img class="botao-mais"
      src="../../assets/images/icones/vetor-mais.svg"
      (click)="increment(1)"
    />
    </div>
  </ion-card>

  <ion-card>
    <img class="imagem-produto" alt="produto 2" src="../../assets/images/produtos/produto 2.jpeg" />
    <ion-card-header>
      <ion-card-title class="nome-produto">Pão de Queijo com gotas de chocolate 75g</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Sem Glúten - Pacote de 1kg <br>
      <b>R$6.00</b>
    </ion-card-content>

    <div class="counter-section">
      <img
      src="../../assets/images/icones/vetor-menos.svg"
      (click)="decrement(2)"
    />
      <p id="quantidade">{{getQuantidadeProduto(2)}}</p>
      <img
      src="../../assets/images/icones/vetor-mais.svg"
      (click)="increment(2)"
    />
    </div>
  </ion-card>

  <ion-card>
    <img class="imagem-produto" alt="produto 3" src="../../assets/images/produtos/produto 3.jpeg" />
    <ion-card-header>
      <ion-card-title class="nome-produto">Chipa</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Sem Glúten - Pacote de 1kg <br>
      <b>R$4.00</b>
    </ion-card-content>

    <div class="counter-section">
      <img
      src="../../assets/images/icones/vetor-menos.svg"
      (click)="decrement(3)"
    />
      <p id="quantidade">{{getQuantidadeProduto(3)}}</p>
      <img
      src="../../assets/images/icones/vetor-mais.svg"
      (click)="increment(3)"
    />
    </div>
  </ion-card>

  <ion-card>
    <img class="imagem-produto" alt="produto 4" src="../../assets/images/produtos/produto 4.jpeg" />
    <ion-card-header>
      <ion-card-title class="nome-produto">Palitos de Provolone</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Sem Glúten - Pacote de 1kg <br>
      <b>R$3.00</b>
    </ion-card-content>

    <div class="counter-section">
      <img
      src="../../assets/images/icones/vetor-menos.svg"
      (click)="decrement(4)"
    />
      <p id="quantidade">{{getQuantidadeProduto(4)}}</p>
      <img
      src="../../assets/images/icones/vetor-mais.svg"
      (click)="increment(4)"
    />
    </div>
  </ion-card>
</ion-content>
