ion-card {
    border-radius: 25px;
    background-color: white;
    color: black;
    width: 80%;
    margin: 25px auto 25px auto;
}

.nome-produto {
    color: black;
}

.counter-section {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 15px;
}

#quantidade {
    padding-left: 15px;
    padding-right: 15px;
}

.botao-menos {
    width: 32px;
    height: 32px;
    --border-radius: 50%;
    --background: #A80000;
}

.botao-mais {
    width: 32px;
    height: 32px;
    --border-radius: 50%;
    --background: #008140;
}
