<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img class="imagem-produto" alt="produto 1" src="../../assets/images/produtos/produto 1.jpeg" />
    <ion-card-header>
      <ion-card-title class="nome-produto">Pão de Queijo tradicional 75g</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Sem glúten - Pacote de 1kg
    </ion-card-content>

    <div class="counter-section">
      <ion-button class="botao-subtrair" (click)="decrement(1)">-</ion-button>
      <p id="quantidade">{{getQuantidadeProduto(1)}}</p>
      <ion-button class="botao-adicionar" (click)="increment(1)">+</ion-button>
    </div>
  </ion-card>

  <ion-card>
    <img class="imagem-produto" alt="produto 2" src="../../assets/images/produtos/produto 2.jpeg" />
    <ion-card-header>
      <ion-card-title class="nome-produto">Pão de Queijo com gotas de chocolate 75g</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Sem Glúten - Pacote de 1kg
    </ion-card-content>

    <div class="counter-section">
      <ion-button class="botao-subtrair" (click)="decrement(2)">-</ion-button>
      <p id="quantidade">{{getQuantidadeProduto(2)}}</p>
      <ion-button class="botao-adicionar" (click)="increment(2)">+</ion-button>
    </div>
  </ion-card>

  <ion-card>
    <img class="imagem-produto" alt="produto 3" src="../../assets/images/produtos/produto 3.jpeg" />
    <ion-card-header>
      <ion-card-title class="nome-produto">Chipa</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Sem Glúten - Pacote de 1kg
    </ion-card-content>

    <div class="counter-section">
      <ion-button class="botao-subtrair" (click)="decrement(3)">-</ion-button>
      <p id="quantidade">{{getQuantidadeProduto(3)}}</p>
      <ion-button class="botao-adicionar" (click)="increment(3)">+</ion-button>
    </div>
  </ion-card>

  <ion-card>
    <img class="imagem-produto" alt="produto 4" src="../../assets/images/produtos/produto 4.jpeg" />
    <ion-card-header>
      <ion-card-title class="nome-produto">Palitos de Provolone</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Sem Glúten - Pacote de 1kg
    </ion-card-content>

    <div class="counter-section">
      <ion-button class="botao-subtrair" (click)="decrement(4)">-</ion-button>
      <p id="quantidade">{{getQuantidadeProduto(4)}}</p>
      <ion-button class="botao-adicionar" (click)="increment(4)">+</ion-button>
    </div>
  </ion-card>
</ion-content>
