<ion-header>
  <ion-toolbar>
    <ion-title class="titulo">
      Produtos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="card-produto">
    <img alt="Produto 1" src="../../assets/images/produtos/produto 1.png" />
    <ion-card-header>
      <ion-card-title>Produto 1</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Descrição do produto 1
    </ion-card-content>

    <ion-button fill="clear">-</ion-button>
    <ion-button fill="clear">+</ion-button>
  </ion-card>

  <ion-card class="card-produto">
    <img alt="Produto 2" src="../../assets/images/produtos/produto 2.png" />
    <ion-card-header>
      <ion-card-title>Produto 2</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Descrição do produto 2
    </ion-card-content>

    <ion-button fill="clear">-</ion-button>
    <ion-button fill="clear">+</ion-button>
  </ion-card>

  <ion-card class="card-produto">
    <img alt="Produto 3" src="../../assets/images/produtos/produto 3.jpeg" />
    <ion-card-header>
      <ion-card-title>Produto 3</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Descrição do produto 3
    </ion-card-content>

    <ion-button fill="clear">-</ion-button>
    <ion-button fill="clear">+</ion-button>
  </ion-card>
</ion-content>
