// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

//personalizando cores gerais do app
ion-content{
    /* Set the background of the entire app */
    --ion-background-color: #E7E7E7;
}

ion-header{
    background-image: url(../../images/pao-de-queijo.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

ion-toolbar{
    --background: #A80000;
    --color: white;
    --min-height: 70px;
    --padding-top: 20px;
    --opacity: 70%;
}

.titulo{
    text-align: center;
    --color: white;
    --opacity: 100%;
}

ion-tab-bar {
    --background: #008140;
    height: 60px;
}

ion-tab-button{
    --background: transparent;
    --color: white;
    --color-selected: #00d169;
    --ionicon-stroke-width: 40px;
}

ion-button{
    --background: #A80000;
    --color: white;
}