#quantidade {
  width: 50px; 
  text-align: center;
  margin: 0 8px;
  color: black;
}

#botao-mais {
  width: 22.68px;
  height: 22.68px;
  background-color: white;
}

#botao-menos {
  width: 22.68px;
  height: 22.68px;
}

#card-produto {
  max-height: 180px;
  max-width: 100%;
  background-color: white;
}

ion-card {
  background-color: white;
  --padding: zero;
}

textarea:focus, input:focus{
  outline: none;
}

input {
  outline: none;
}

.div-botoes {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 10px;
}