<ion-header>
  <ion-toolbar>
    <ion-title class="titulo"> Carrinho </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @for (produto of produtos; track produto) { @if (produto.quantidade > 0) {
  <ion-card class="ion-no-padding" id="card-produto">
    <ion-grid class="ion-no-padding ion-no-margin">
      <ion-row class="ion-no-padding ion-no-margin">
        <ion-col class="ion-no-padding" size="auto">
          <img
            class="ion-no-padding"
            src="../../assets/images/produtos/produto 2.jpeg"
            style="height: 100%; width: 79px; float: left; top: 0"
          />
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin">
          <h5 style="margin-top: 10px; margin-left: 10px">
            <b>{{ produto.nome }}</b>
          </h5>
          <div class="div-botoes" style="margin-left: 10px">
            <img
              src="../../assets/images/icones/icone-menos.png"
              (click)="menos(produto.id)"
            />

            <input
              type="number"
              [(ngModel)]="produto.quantidade"
              id="quantidade"
              style="border: none; width: 20px; text-align: center"
            />
            <img
              src="../../assets/images/icones/icone-mais.png"
              (click)="mais(produto.id)"
            />
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  } }
  <ion-button expand="block" (click)="chamarEndereco()">Finalizar Compra</ion-button>
  <!-- <ion-button expand="block" color="danger" href="/tabs/pagamento"
    >Pagamento</ion-button
  > -->
</ion-content>
