
ion-content::part(background) {
    background: #E7E7E7;
    background-image: url(../../assets/images/bg-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

p{
    color: white;
}

a, a:link, a:visited, a:active {
    color: #00be5f;
}
  
a:hover {
    color: #00974c;
    cursor: pointer;
}

ion-button.entrar-home{
    width: 70%;
    font-size: large;
    --background: #008140;
    --padding-top: 5px;
    --padding-bottom: 5px;
    --opacity: 100%;
    --background-hover: #008140;
    --background-hover-opacity: 100%;
    --ripple-color: #00ca65;
}

ion-button.entrar-modal{
    width: 50%;
    font-size: large;
    --background: transparent;
    --background-hover: transparent;
    --ripple-color: #cccccc;
    --color: #008140;
    --color-hover: #00974c;
}

ion-footer{
    padding-bottom: 10px;
}

ion-toolbar{
    color: black;
    --background: transparent;
}

ion-modal {
    --height: auto;
    --width: 70%;
    --border-radius: 16px;
    --background: #f2f2f2;
}
  
ion-modal::part(backdrop) {
    background: black;
}

  
ion-modal ion-toolbar {
    --color: white;
}

ion-input{
    width: 70%;
    color: gray;
}

.linha{
    background-color: rgb(194, 194, 194);
    width: 100%;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 5px;
}