<ion-content [scrollY]="false" [fullscreen]="true" class="oi">
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <h5>
      A praticidade dos congelados <br> em um só lugar
    </h5>
    <ion-button class="entrar-home" id="open-modal-login">Entrar</ion-button>
    <p>Ainda não possui conta? <a id="open-modal-cadastro">Cadastre-se</a></p>
  </ion-toolbar>
</ion-footer>

<!--Modal para login-->
<ion-modal trigger="open-modal-login" class="ion-text-center">
  <ng-template>
    <ion-toolbar>
      <h4>Seja bem-vindo!</h4>
    </ion-toolbar>
    <form [formGroup]="loginForm">
      <ion-row class="ion-justify-content-center">
        <ion-input type="email" formControlName="email" fill="solid" label="Email" placeholder="usuario@provedor.com" labelPlacement="floating" errorText="E-mail inválido"></ion-input>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-input type="password" formControlName="senha" fill="solid" label="Senha" placeholder="**********" labelPlacement="floating" errorText="Senha incorreta"></ion-input>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <div class="linha"></div>
        <ion-button size="medium" fill="clear" class="entrar-modal" (click)="login()">Entrar</ion-button>
      </ion-row>
      <ion-footer class="ion-no-border"></ion-footer>
    </form>
  </ng-template>
</ion-modal>

<!--Modal para cadastro de usuário-->
<ion-modal #modalCadastro trigger="open-modal-cadastro" class="ion-text-center">
  <ng-template>
    <ion-toolbar>
      <h4>Informe os dados abaixo</h4>
    </ion-toolbar>
    <form [formGroup]="cadastroForm">
      <ion-row class="ion-justify-content-center">
        <ion-input type="text" formControlName="nome" fill="solid" label="Nome/Razão Social" placeholder="Nome/Razão Social" labelPlacement="floating" errorText="Informe um nome"></ion-input>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-input type="text" formControlName="cpfCnpj" fill="solid" label="CPF/CNPJ" placeholder="Nome/Razão Social" labelPlacement="floating" errorText="Informe um nome"></ion-input>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-input type="email" formControlName="email" fill="solid" label="Email" placeholder="usuario@provedor.com" labelPlacement="floating" errorText="E-mail inválido"></ion-input>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-input type="text" formControlName="telefone" fill="solid" label="Telefone" placeholder="Nome/Razão Social" labelPlacement="floating" errorText="Informe um nome"></ion-input>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-input type="password" formControlName="senha" fill="solid" label="Senha" placeholder="**********" labelPlacement="floating"></ion-input>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-input type="password" formControlName="confirmarSenha" fill="solid" label="Confirmar senha" placeholder="**********" labelPlacement="floating" errorText="Senhas não coincidem"></ion-input>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <div class="linha"></div>
        <ion-button fill="clear" class="entrar-modal" (click)="cadastrar()">Cadastrar</ion-button>
      </ion-row>
      <ion-footer class="ion-no-border"></ion-footer>
    </form>
  </ng-template>
</ion-modal>