<ion-header>
  <ion-toolbar>
    <ion-title>Pagamento</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Forma de Pagamento</ion-label>
      <ion-select [(ngModel)]="formaPagamento">
        <ion-select-option value="dinheiro">Dinheiro</ion-select-option>
        <ion-select-option value="cartao">Cartão de Crédito</ion-select-option>
        <ion-select-option value="cheque">Cheque</ion-select-option>
        <ion-select-option value="transferencia">Transferência Bancária</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button expand (click)="finalizarPedido()">Finalizar Pedido</ion-button>
</ion-content>